<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="t07. Go web!">
    <title>t07. Go web! - Normal time</title>
</head>
<body>
<h1>Normal time Now:</h1>
<div><%= `In real life you were absent for ${time.years()} years, ${time.months()} months, ${time.days()} days.` %></div>

<div><a href="/">Back to index</a></div>

</body>
</html>