.container {
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 10px;
}
.row {
    margin-bottom: 10px;
}
fieldset {
    margin-bottom: 15px;
}
button {
    padding: 5px 15px;
    text-transform: uppercase;
}
#result {
    background: #afafaf;
}